<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Busca</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tipo_pesquisa" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="quadras">
        QUADRAS <ion-icon name="camera"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="rachas">
        RACHAS <ion-icon name="bookmark"></ion-icon>
      </ion-segment-button>
      
    </ion-segment>
  </ion-toolbar>

</ion-header>


  

<ion-content padding style="background-size:cover;" id="page2">
    
    <div  style="text-align: center; background-color: #008080;color: #ffffff;padding: 5px; font-weight: bold">
        Distância: <ion-checkbox style="padding-left: 10px;padding-right: 10px" color="cinza_claro" [(ngModel)]="distanciaVisivel" checked="true"></ion-checkbox>
        <span *ngIf="distanciaVisivel" style="padding-right: 30px">{{distancia}} Km</span> 
        Específica: <ion-checkbox style="padding-left: 10px;padding-right: 20px" color="cinza_claro" [(ngModel)]="pesquisaEspecificaVisivel" checked="true"></ion-checkbox>
    </div>
      
    
      <ion-range *ngIf="distanciaVisivel" style="padding:0" pin="true" min="0" max="100" step="5" snaps="false" [(ngModel)]="distancia" color="verde">
        <ion-icon range-left small color="verde" name="football"></ion-icon>
        <ion-icon range-right color="verde" name="football"></ion-icon>
      </ion-range> 
  <ion-list>
    <ion-searchbar *ngIf="pesquisaEspecificaVisivel"  [(ngModel)]="searchText" style="padding:0" placeholder="nome, apelido, bairro, etc..." name="" id="busca-search1" (ionChange)="filtrarLista()"></ion-searchbar>
  </ion-list>  
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <!--(ionPull)="doPulling($event)"-->
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pexe para atualizar..." refreshingText="Atualizando..."
        refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>
  <div [ngSwitch]="tipo_pesquisa" color="cinza">
    <ion-list *ngSwitchCase="'quadras'">
        
      <ion-item *ngFor="let item of quadraRachaProvider.listaQuadras | async ">
        <ion-thumbnail item-start>
          <img src="assets/img/thumbnail-puppy-1.jpg">
        </ion-thumbnail>
        <h2>{{ item?.apelido }}</h2>
      </ion-item>
      
    </ion-list>

    <ion-list *ngSwitchCase="'rachas'">
      <ion-item *ngFor="let item of quadraRachaProvider.listaRachas | async">
        <ion-thumbnail item-start>
          <img src="assets/img/thumbnail-kitten-1.jpg">
        </ion-thumbnail>
        <h2>{{ item?.apelido }}</h2>
      </ion-item>
      
    </ion-list>
    
  </div>
  
<form id="busca-form1">
  

</form>
  







  <!--ion-icon name="add-circle" item-right (click)="addQuadra()"> + Quadra</ion-icon>
  <ion-icon-- name="add-circle" item-right (click)="addRacha()"> + Racha</ion-icon-->

</ion-content>