// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";
@import "ionic.theme.default";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  stable:      #f8f8f8,
  positive:      #488aff,
  calm:                  #40A7CF,
  balanced:              #a2c57a,
  energized:             #f0b840,
  assertive:             #ef4e3a,
  royal:                 #8a6de9,
  twitter:    #55acee,
  cinza:  #333333,
  cinza_claro:  #666666,
  verde:  #008080,
  verde_claro: #09afaf,
  branco: #ffffff,
  amarelo:rgb(230, 104, 2)
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// Material Design only Sass variables can go here

// Change #000 to any color to see the md text color change
$text-md-color:                          color($colors, danger);

// Use the primary color as the background for the toolbar-md-background
$toolbar-md-background:                   color($colors, verde);//OK - cor toolbar dos títulos ****
$toolbar-md-title-text-color:             color($colors, branco);//OK - cor do texto das toolbar 
$toolbar-md-button-color:                 color($colors, cinza);//OK - cor dos icones das toolbar
$toolbar-md-button-border-radius: 150px;
//$toolbar-md-height: 50px;// OK

//MENU
$menu-md-background: red; //cor de fundo dos menus
$background-md-color: color($colors, branco);//OK cor de fundo das páginas
//$menu-md-box-shadow-color: green;
//$menu-md-box-shadow: 30 20 100px $menu-md-box-shadow-color;

// nada $tabbar-md-background:                    #8f8;
// nada $tab-button-md-active-color:              color($colors, primary);
// nada $tab-button-md-inactive-color:            #8c8c8c;

$toolbar-title-color: #fff; 
$toolbar-title-md-color: #fff;
// Use the default background for the tabbar since it inherits from toolbar
$tabs-md-background:                      color($colors, cinza); //OK cor background da tab ****
$tab-button: color($colors, twitter);

// Change the color of the tabs text
$tabs-md-tab-color-active:                color($colors, branco);//OK - cor texto tabs active
$tabs-md-tab-color-inactive:              color($colors, branco);//OK - cor texto tabs inactive
$tabs-md-tab-icon-color-active: #fff; //OK cor do icone active
// nada $tabs-md-tab-icon-color-inactive: yellow; //OK cor do icone active
// Change the color of the segment button text
// nada $toolbar-md-active-color:                 color($colors, danger);
// nada $toolbar-md-inactive-color:               color($colors, positive);
//$segment-button-md-text-color-activated:  rgb(228, 231, 12);



.tabbar a[aria-selected=true] {
  border-top: 5px;
  border-style: solid;  
  background-color: color($colors, cinza_claro);  
}


.custom {
  background-color: #3f4041 !important; /* This sets the background color*/
 }
 
/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}
 
/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #666;
}
 
.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}
 
/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}


//IOS Segment
$segment-button-ios-text-color: yellow;

$segment-button-md-text-color-activated: color($colors, cinza);
$segment-button-md-border-color-activated: color($colors, amarelo);
$segment-button-md-border-bottom-width: 4px;
$segment-button-md-border-bottom-color:red;
$segment-button-md-opacity-disabled: .0;
$segment-button-md-font-size: 1.5rem;

//----
$segment-button-ios-background-color: red;
$segment-button-ios-background-color-activated: blue;
$segment-button-ios-text-color:yellow;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
